@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;500;900&display=swap');

*{
    transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.navbar{
    height: 50px;
    background-color: white;
    z-index: 1;
}
.logo{
    margin-left: 10%;
}
.already{
    margin-top: -3.3%;
    margin-left: 75%;
}

.main__page{
    height: 150vh;
    background-color: aliceblue;
}


h1{
    padding-top: 24%;
    text-align: center;
    color: #56baed;
}


.container__one {

    height: 75%;
    margin-left: 30%;
    margin-right: 30%;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }


  input[type=button]{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  input[type=button]:hover {
    background-color: #39ace7;
  }

  input[type=text]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 23%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }


 input[type=password],input[type=email]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 67%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  .message{
      text-align: left;
      background-color: #f6f6f6;
    border: none;
    color: #28a3e0;
    padding: 15px 32px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;

    width: 67%;
    border: 2px solid #f6f6f6;
  }

  .icon{
    position: absolute;
    /* top: 50%; */
    /* left: 20px;
    transform: translateY(-290%); */
    margin-top: -10%;
    margin-left: 12%;
    color: grey;
  }



  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
   
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    /* width: 9999px; */
    width: 195%;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}